@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575842954885'); /* IE9 */
  src: url('iconfont.eot?t=1575842954885#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABjQAAAI+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApAWwE2AiQDCAsGAAQgBYRtBy0bfgXIHpIkgQJkng0HDhAUIYKvtd5+s7OHpD5BiCSgBlSJBRQKLZLyKEwq5Umeio6+qzW9ALsItePDMopQoX3ce+D9DbSexpPQVTUahWyFK2zAWTrgLqMOJIPsE/dO/wT6IL/xgHLdg9YY1AXUxYEU6B4YdZGUUMYNYxe8wPsEGhY0ZE7ONntRltnLAnHbsTRRLvhlmaVqQqVhbxavlGrpcfqBl9H34599USYpC3bFmatTUwymyckoHs0euRwQAgR0uESBHYRMXGiMn5ITjMtpxPNWiGOVBtM0e2ATRzUL9tfZxS0wBxPBNHlLBUjwWBP1CeNJ7yT612pP3z8a7Z+eJi+T48vrx+anPz/rn/sTfDgu/frVx5k/cBT+LN3L/BUIrty9fVN08H+tmcGvYZ9EpmyYk9oeHMGfkA7sy4bctqasSRuHk/4ZWhoamMHugb+phvFp06FmPMFZNZ+hULNGZnYHSk0HUFFzBA3bzQ83DZGcyHVscwcQet6RdHxHoeeHzOwvShP/qOhFDg2XYnhm00Y41ROEGqMJ+g04RhRK187VuHSL1snXKC+P+CNS6oSgu2tPOTXHEGmJDenZ6jFLkBQFMAOPoe9HEFPkosEtmznut3dfbXpRy4gCUXUCQRqGTEB3AzgMkZAMRrNq5fNbyHLi01BHT13yCJGUMz3oaukMIOeacFDPozyTOrP0MCYBiUQCYAZmIZ8vAuLmWS5kYC32hGisr+0MkkM1re11wd8dgwbbmMKpKRRXu10C') format('woff2'),
  url('iconfont.woff?t=1575842954885') format('woff'),
  url('iconfont.ttf?t=1575842954885') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575842954885#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-f11:before {
  content: "\e502";
}

