@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1577011083644'); /* IE9 */
  src: url('iconfont.eot?t=1577011083644#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABkAAAAI+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXAE2AiQDCAsGAAQgBYRtBzYbiAXIHpIkRTocUACWEQAUI4Ro2TJ7+7UqapP4rmvRKBzCYFEgHcajusIIrqZt/59W9Lsd3n53iaI1VW3q3uWSflmqp9vSjEAZEBKEY1Do6MlK+NAKSS5XLxXjE/dO/yigQOYDynUPGmvSpC6gLg6kgMbaFFkBhdwwdoFLOE6gbkpbbX999wAmZNa4QDwo6cBEzi3LLFYVyjVLs3iFkmp6rn8CL+H3488wJkhKBavg6H7Nh8Xfmp3QeKrozifAQ0CrSyiwAWTirDZ8oCEYq6EeHjEH9pUb/EZV+SaxV71gf52V3QQT0Bv8umMFSHBbbfWA8airiZ70H/QT8nmNHnny6q/VemkuNF8NI3DemMZtan2BbRwtbuoFs//k5uP9wprP/4npDN4Xg/tQl/WzguoeLMGfEPasybrYMqasCmsbk94Ziurq+IftfT9jNaPTxkPVaIS1YjJFoWqBzMwNlDRsoqxqC3XrNlY3DGgNkWtYcwkQuj6QtL2h0PVFZuY3SsZ+UdaNBuouAls2LIWaak0Ok4/uOSovS4Vj5qkod4/kcezorDhkH5EulQ8H3X4xtkEp6TlmlCdyyCxQ6CzBdXAaxXGGuc5C8rgbMOdmryfq3tT1sgSm7NGIgxEfcp1DiieTEn5zNlX6/B4iHYs5dEtVTfAI0UqqczTQ1e9BbijSXlX38krphDTEmIAELZNA62AQicUyKK8fFCIe1hWMCOZMPbue6Kvorq9Kvm4L1FnaFHaXQvMxcFIZKi/E2TEA') format('woff2'),
  url('iconfont.woff?t=1577011083644') format('woff'),
  url('iconfont.ttf?t=1577011083644') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1577011083644#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before {
  content: "\e501";
}

